section {
    h2 {
        background-color: chocolate;
        border-radius: 10px;
        padding: 1rem;
        height: 120px;
        transition: all 0.4s ease-in;
        margin-inline: auto;
        position: relative;
        width: 200px;
        div {
            position:absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        div:last-child {
            opacity: 0;
        }

    }
    h2:hover {
        background-color: rgb(250, 246, 246);
        cursor: pointer;
        transform: scale(1.1);
    }
    h2:hover div:first-child {
        opacity: 0;

    }
    h2:hover div:last-child {
        opacity: 1;
    }
}