/* ------------- */
/*01 R E S E T  */
*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}


html:focus-within {
    scroll-behavior: smooth;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

body,
html {
    height: 100%;
    scroll-behavior: smooth;
}

/* ------------- */
/*02 F O N T S  */
/*--------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*03 V A R I A B L E S */
/*--------------*/
:root {
    --color-1: rgba(243, 241, 241, 0.767);
    --color-2: rgba(0, 0, 0, 0.811);
    --font-bd: "Poppins", sans-serif;
}

/*04 G E N E R A L */
/*--------------*/
body {
    font-family: var(--font-bd);
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    color: var(--color-2);
    flex-wrap: wrap;

    nav {
        position: fixed;
        top: 10px;
        left: 10px;

        a:is(:link, :visited) {
            background-color: var(--color-2);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            height: 40px;
            opacity: .8;
            transition: all 0.2s ease-in;
            width: 40px;

            svg {
                width: 24px;
            }

        }

        a:is(:hover) {
            opacity: 1;
            transform: scale(1.12);
        }
    }

    main {
        header {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            h1 {
                font-size: 3rem;
                display: flex;
                font-weight: 400;
                display: center;
                align-items: center;
                gap: 0.6rem;

                span {
                    border-radius: 50px;
                    background-color: var(--color-2);
                    color: var(--color-1);
                    font-size: 1.8rem;
                    text-align: center;
                    display: flex;
                    height: 50px;
                    width: 50px;
                    flex: center;
                    justify-content: center;
                    align-items: center;

                }

            }

            h2 {
                font-size: 1.4rem;
                font-weight: 600;

            }

            h3 {
                font-size: 1rem;
                font-weight: 400;
                border-radius: 50px;
                background-color: var(--color-2);
                color: var(--color-1);
                padding: 10px 20px
            }

            p {
                color: #000000;
                margin: 0 auto;
                width: 70%;
                text-align: justify;
                text-align: center;

            }

            img {
                border-radius: 50%;
                border: 5px solid var(--color-2);
                height: 200px;
                width: 200px;
                object-fit: cover;

            }


        }

        section {
            padding: 1rem;
            min-width: 400px;
            border-radius: 4px;
            margin-block: 1rem;
            min-height: 25vh;
            margin-inline: auto;

            h3 {
                border-bottom: 2px dotted var(--color-2);
            }

            p {
/*                 font-size: 1.6rem; */
                margin-bottom: 0.6rem;

                svg {
                    width: 33px;



                }
            }

            xmp {
                color: rgb(240, 240, 240);
                margin-top: 0.6rem;
                border-radius: 5px;
                padding: 0 0.6rem 0.6rem;
                background-color: rgba(118, 136, 119, 0.641);

            }
        }
    }

    menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 2rem;

        a:is(:link, :visited) {
            border-radius: 50px;
            background: linear-gradient(to right, #fffc, #fff3);
            color: var(--color-1);
            color: var(--color-2);
            display: flex;
            align-items: center;
            padding: 0.6rem;
            text-decoration: none;
            transition: all 0.3s ease-in;
            gap: 0.6rem;
            width: 240px;

        }

        a:is(:hover) {
            background: linear-gradient(right, #fffc, #d30d0d);
            transform: scale(1.05) translateY(-4px);
        }

        span {
            border-radius: 20px;
            color: var(--color-2);
            background-color: var(--color-2);
            font-weight: 600;
            height: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 28px;
        }
    }

    section {
        background-color: var(--color-1);
        border-radius: 4px;
        margin-block: 1rem;
        min-height: 25vh;
        width: 400px;
    }
}

/*--------------------*/
/* M A I N M E N U*/
body.main-menu {
    background-color: #d30d0d;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%234FE'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;

}

/*--------------------*/
/* Php MENU*/
body.php{
    background-color: #7782FF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%237782FF' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%236f7bf1' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%236673e2' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%235e6cd4' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%235764c6' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%234f5db9' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%234856ab' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23414f9e' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%233a4890' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23334183' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%232d3a76' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%2327346a' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23212d5d' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%231b2751' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23162045' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23111a3a' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%230c142f' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23080B24' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    nav {
        a:is(:link, :visited) {
            fill: #7782FF;
            background-color: #ffffff;
        }
    }

    main {
        header {
            h1 {
                color: #7782FF;
            }

            img {
                border-color: #7782FF;
            }
        }

        menu {
            a {
                span {
                    background-color: #7782FF;
                }
            }
        }
    }
}